.page {
  display: flex;
  flex-direction: column;
}
.cook_saerch {
  text-align: center;
  padding: 20px;
  input {
    width: 280px;
  }
}
.cook_cate {
  display: flex;
  flex-wrap: wrap;
  .cook_cate_item {
    width: 25%;
    text-align: center;
    span {
      display: block;
    }
  }
}
.cool_recommend_tip {
  font-weight: 700;
  padding: 12px 0 8px 20px;
  display: flex;
  justify-content: space-between;
}
.cook_recommend {
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  .cook_recommend_item {
    width: 40%;
    margin: 0 18px;
    img {
      border-radius: 10px;
      width: 100%;
    }
    .cook_name {
      font-weight: 700;
      font-size: 16px;
    }
    .cook_relation {
      font-size: 12px;
      color: #6e6e6e;
    }
  }
}